body{
    background:url(background.jpg) ;
    background-size:cover;
}
.heading{
    font-size: 23px;
    width: 95%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 30px;
}
.heading_div{
    float: none;
    background-color: white;
    padding:10px ;
    border-radius: 30px;
    color: black;
    box-shadow: 5px 5px 5px grey;
  
}
.heading_div2{
    font-size: 18px;
}
